@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('./reset.css');

:root {
	--primary-color: #49BEFF;
	--accent-color: #34A1DE;
	--background-main: #02273A;
	--card-primary: #E8F7FF;
	--card-secondary: #EBF3FE;

	--color-white: #fff;
	--color-black: #000;

}

body {
	font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: linear-gradient(180deg,
			#02273A 0%,
			#064E74 10%,
			#03334D 25%,
			#0278B7 40%,
			#064E74 77%,
			#02273A 100%
			);
}

/* ! HEADER */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	font-size: 1.2rem;

	position: sticky;
	top: 0;
	z-index: 1000;

	animation: enhance-header linear both;
	animation-timeline: scroll(root block);
	animation-range: 0 400px;

	img {
		width: 120px;
	}

	nav {
		display: flex;
		gap: 1rem;

		ul {
			display: flex;
			gap: 5rem;
			list-style: none;

			li {
				a {
					text-decoration: none;
					color: #fff;
					font-weight: 500;
					padding: 0.5rem 1rem;
					border-bottom: 2px solid;
					border-color: transparent;
					transition: all 0.3s ease;

					&:hover {
						color: var(--accent-color);
						border-color: var(--accent-color);
					}
				}
			}
		}
	}

	button {
		color: var(--color-white);
		padding: 0.5rem 3rem;
		border: 2px solid var(--accent-color);
		border-radius: 2rem;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: var(--accent-color);
		}
	}

}

/* ! Responsive HEADER */
@media (max-width: 1200px) {
	header {
		font-size: 1rem;

		img {
			width: 100px;
		}

		nav ul {
			gap: 1rem;

			li a {
				padding: 0.5rem 0.8rem;
			}
		}

		button {
			padding: 0.5rem 2rem;
		}
	}

}

@media (max-width: 768px) {
	header {
		font-size: 1rem;
	}
}

@media (max-width: 760px) {
	header {
		font-size: 1rem;

		img {
			width: 100px;
		}

		nav ul {
			display: none;
		}

		button {
			padding: 0.5rem 2rem;
		}
	}
}

@media (max-width: 400px) {
	header {
		font-size: 0.9rem;

		img {
			width: 90px;
		}

		button {
			padding: 0.5rem 1.5rem;
		}
	}
}

@keyframes enhance-header {
	to {
		backdrop-filter: blur(15px);
		font-size: 1.1rem;
		padding: 0.5rem 2rem;
	}
}

/* ! HERO */

.hero {
	min-height: 90dvh;

	display: flex;
	justify-content: center;

	.hero_content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		padding: 2rem 2rem;

		img {
			width: 440px;
		}

		div {
			max-width: 762px;
			text-align: right;

			h1 {
				font-size: 4rem;
				font-weight: 700;
				color: var(--color-white);
				margin-bottom: 1rem;
			}

			p {
				font-size: 1.5rem;
				color: var(--color-white);
				margin-bottom: 1rem;
			}

			.download_buttons {
				display: flex;
				justify-content: flex-end;
				gap: 1rem;
				margin-top: 1rem;

				button {
					img {
						height: 60px;
						width: auto;
					}
				}
			}
		}
	}
}

/* Responsive */
@media (max-width: 1200px) {
	.hero {
		.hero_content {
			img {
				width: 400px;
			}

			div {
				text-align: center;

				h1 {
					font-size: 3rem;
				}

				p {
					font-size: 1.2rem;
				}

				.download_buttons {
					justify-content: center;

					button {
						img {
							height: 50px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.hero {
		.hero_content {

			align-content: center;

			img {
				width: 300px;
			}

			div {
				h1 {
					font-size: 2.5rem;
				}

				p {
					font-size: 1.1rem;
				}

				.download_buttons {
					button {
						img {
							height: 40px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.hero {
		.hero_content {
			img {
				width: 250px;
			}

			div {
				h1 {
					font-size: 2rem;
				}

				p {
					font-size: 1rem;
				}

				.download_buttons {
					button {
						img {
							height: 30px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.hero {
		.hero_content {
			img {
				width: 200px;
			}

			div {
				h1 {
					font-size: 1.8rem;
				}

				p {
					font-size: 1rem;
				}

				.download_buttons {
					button {
						img {
							height: 30px;
						}
					}
				}
			}
		}
	}
}

/* ! CHARACTERISTICS Carrusel */

.characteristics {
	min-height: 80dvh;

	display: flex;
	justify-content: center;
	align-items: center;

	.carousel {
		position: relative;
		overflow: hidden;

		background: var(--background-main);
		width: 100%;

		/* sombra  */
		box-shadow: 0 0 20px var(--accent-color);

		.carousel_container {
			display: flex;
			transition: transform 0.5s ease;

			padding: 3rem 0;

			.carousel_slide {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				min-width: 100dvw;
				text-align: center;
				color: white;

				div:nth-child(odd) {
					width: 460px;
					text-align: left;

					h2 {
						font-size: 4rem;
						margin-bottom: 1rem;
						font-weight: 700;
					}

					p {
						font-size: 1.25rem;
						margin-bottom: 1rem;
					}
				}

				div:nth-child(even) {
					width: 460px;
					text-align: right;

					h2 {
						font-size: 4rem;
						margin-bottom: 1rem;
						font-weight: 700;
					}

					p {
						font-size: 1.25rem;
						margin-bottom: 1rem;
					}
				}

				img {
					width: 350px;
					height: auto;
				}
			}
		}

		.carousel_control {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border: none;
			padding: 10px;
			cursor: pointer;

			&.left {
				left: 10px;
			}

			&.right {
				right: 10px;
			}
		}

		.carousel_indicator {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			gap: 1rem;

			button {
				width: 20px;
				height: 20px;
				border: 2px solid var(--primary-color);
				background-color: transparent;
				border-radius: 50%;
				cursor: pointer;
				transition: background-color 0.3s;

				&.active {
					background-color: var(--primary-color);
				}
			}
		}
	}

}

/* Responsive */
@media (max-width: 1200px) {
	.characteristics {
		.carousel {
			.carousel_container {
				padding: 2rem 0;

				.carousel_slide {
					div:nth-child(odd) {
						width: 400px;

						h2 {
							font-size: 2rem;
						}

						p {
							font-size: 1rem;
						}
					}

					div:nth-child(even) {
						width: 400px;

						h2 {
							font-size: 2rem;
						}

						p {
							font-size: 1rem;
						}
					}

					img {
						width: 200px;
					}
				}
			}

			.carousel_control {
				padding: 5px;

				svg {
					width: 40px;
					height: 40px;
				}

				&.left {
					left: 5px;
				}

				&.right {
					right: 5px;
				}
			}

			.carousel_indicator {
				button {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.characteristics {
		.carousel {
			.carousel_container {
				padding: 2rem 0;

				.carousel_slide {

					&:nth-child(odd) {
						flex-direction: column;
					}

					&:nth-child(even) {
						flex-direction: column-reverse;
					}


					div:nth-child(odd) {
						text-align: center;

						h2 {
							font-size: 3rem;
						}

						p {
							font-size: 1.2rem;
						}
					}

					div:nth-child(even) {
						text-align: center;

						h2 {
							font-size: 3rem;
						}

						p {
							font-size: 1.2rem;
						}
					}

					img {
						width: 150px;
					}
				}
			}

			.carousel_control {
				padding: 5px;

				svg {
					width: 30px;
					height: 30px;
				}

				&.left {
					left: 5px;
				}

				&.right {
					right: 5px;
				}
			}

			.carousel_indicator {
				button {
					width: 10px;
					height: 10px;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.characteristics {
		.carousel {
			.carousel_container {

				.carousel_slide {
					div:nth-child(odd) {
						width: 300px;

						h2 {
							font-size: 2rem;
						}

						p {
							font-size: 1rem;
						}
					}

					div:nth-child(even) {
						width: 300px;

						h2 {
							font-size: 2rem;
						}

						p {
							font-size: 1rem;
						}

						img {
							width: 100px;
						}
					}
				}
			}

			.carousel_control {
				padding: 5px;

				svg {
					width: 30px;
					height: 30px;
				}

				&.left {
					left: 5px;
				}

				&.right {
					right: 5px;
				}
			}

			.carousel_indicator {
				button {
					width: 10px;
					height: 10px;
				}
			}
		}
	}
}
